<ion-header  >
  <ion-toolbar color="primary"  >
    <ion-title  >Lista de Paises</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content >
  
  <ion-list>   
    <ion-header  >
    <ion-grid > 
      <ion-row >
        
        <ion-col>
      <p>
        Nro
        </p>
      </ion-col>
      <ion-col>
      <p>
      NOMBRE CORTO
      </p>
    </ion-col>
    <ion-col>
      <p >
      NOMBRE OFICIAL
      </p>
    </ion-col>
    <ion-col>
      <p>
      SIGLAS 1
      </p>
    </ion-col>
    <ion-col>
      <p>
      SIGLAS 2
      </p>
    </ion-col>
    <ion-col>
      <p>
      CODIGO
      </p>
    </ion-col>
    <ion-col>
      <p>
      HIMNO
      </p>
    </ion-col>
    </ion-row>
    </ion-grid>
  </ion-header>
    <ion-item *ngFor="let listaPaises of listaPaises">
      <ion-label>
        <ion-row>         
              <ion-img [src]="listaPaises.imageURL" ></ion-img>
        <ion-col>
      
        <h2>
          
            {{listaPaises.orden}}
          </h2>
        </ion-col>
        <ion-col>
          <p>  
            {{listaPaises.nombreC}}
          </p>
        </ion-col>
        <ion-col>
          <p>
            {{listaPaises.nombreOficial}}
          </p>
        </ion-col>
        <ion-col>
          <p> 
            {{listaPaises.sigla2}}
          </p>
        </ion-col>
        <ion-col>
          <p> 
            {{listaPaises.sigla3}}
          </p>
        </ion-col>
        <ion-col>
          <p>          
            {{listaPaises.codigo}}
          </p>
        </ion-col>
        
        <audio controls>
          <source [src]="listaPaises.cancion" type="audio/mpeg">
      </audio>
        </ion-row>
        </ion-label>      
    </ion-item>
  </ion-list>

</ion-content>